<div class="container" ng-controller="projscheduleCtrl">
    <div align='center' style='margin-top:-30px'>
        <h3 class="page-header"><span ng-bind='wssmode'></span> of Schedule File</h3>
    </div>

    <form name="fldtyfrm" style=" font-size :smaller;padding-left:50px; margin-top:10px" method="get">
        {{>toaster}}

        {{!-- <div ng-if='success' ng-repeat='msg in errmsg' class="alert-success" style=" font-size :small; color:#123a16">
            {{msg.msg}}
            <span ng-bind='msg.msg'></span>
        </div> --}}

        <div ng-if='errors' ng-repeat='msg in errmsg' class="alert-danger" style=" font-size :small; color:#5c0505">
            {{msg.msg}}
            <span ng-bind='msg.msg'></span>
        </div>
        <div align="center" style='margin-top:-25px'>
            <h4> \{{enqlist.projtrnsno}} -\{{enqlist.enqconame}}
                <br> \{{enqlist.proptitle}}</h4>
            <h4> Premisses : \{{enqlist.enqaddress}}</h4>
        </div>
        <h5> Proposed Solution</h5>
        <p ng-repeat="pestsoldet in pestsollist" style="border:darkblue; background-color: blanchedalmond;">
            <span ng-bind-html="pestsoldet.soldesc"></span>
        </p>

        <table>
            <tr>
                <td>
                    <label>Date Start:* :</label>
                </td>
                <td>
                    <input type="text" myDatePicker='' name="schdatest" id="schdatest" datepicker-popup="d MMM yyyy"
                        ng-model="schdet.schdatest" datepicker-options="dateOptions" size='10' ng-disabled="false" />
                </td>
            </tr>

            <tr>
                <td>
                    <label>Date End:* :</label>
                </td>
                <td>
                    <input type="text" myDatePicker='' name="schcompldate" id="schcompldate"
                        datepicker-popup="d MMM yyyy" ng-model="schdet.schcompldate" datepicker-options="dateOptions"
                        size='10' ng-disabled="false" />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <label> Description:* : </label>
                </td>
                <td>
                    <textarea name="schdesc" ng-model="schdet.schdesc"
                        placeholder="Please Enter Description of work to do" type="text" cols="60" rows="4">
            </textarea>

                </td>
            </tr>
            <tr>
                <td>
                    <label> Personnel : </label>
                </td>
                <td>
                    <select ng-model="schdet.schpersonnel" name='schpersonnel' ng-init="selected=''"
                        ng-options="opt  as opt.UsStaffname for opt in stafflist " ng-change="addperson()">
                        <option>-{{schdet.schpersonnel.UsStaffname}}-</option>
                    </select>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <label>Staff Selected</label>
                </td>
                <td>
                    <sp ng-repeat="stseldet in staffselname">
                       <span style="width:330px; background-color:rgb(164, 221, 164)" >
                            \{{stseldet}}
                        </span>
                            
                            <button style="width:20%; font-size=0.5em" class=" btn btn-danger btn-xs" ng-click="delperson(stseldet)">Remove
                            </button><br>
                        {{!-- </span> --}}
                    </p>
                </td><br>

                </td>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary" ng-click="submitdat()"><span
                            ng-bind='wssmode'></span></button>
                    <a class="btn btn-primary" id="txtbackbut" href="/dispschedule#?wssmode=Maintain">
                        back
                    </a>
                    {{!-- <a ng-if="wssmode == 'Add'" class="btn btn-default" id="txtbackbut" href="/dashboard">
                        back
                    </a> --}}

                </td>
            </tr>
        </table>

    </form>
</div>