<div id="main-content" class="container" style=" margin-top: 0px; background-size: 80% 80%;" ng-controller="clientCtrl">


    <p style="font-size: small; background-color:rgb(25, 68, 2);color:floralwhite">\{{clID}} - \{{clname}}</p>

    <table style="font-size:9pt" style="height:1px">
        <tr ng-if="cllist.clconame != undefined">
            <td width="100px">
                <label style="vertical-align: top;">Company :</label>
            </td>
            <td colspan="3">
                \{{cllist.clconame}}

            </td>
        </tr>
        <tr>

            <td width="100px">
                <label style="vertical-align: top;">Contact :</label>
            </td>
            <td colspan="3">
                \{{cllist.clcontactperson}}

            </td>
        </tr>

        <tr>
            <td width="100px">
                <label style="vertical-align: top;">Address :</label>
            </td>
            <td colspan="3">
                \{{cllist.claddress}}

            </td>


        </tr>
        <tr>
            <td width="100px">
                <label style="vertical-align: top;">Tel No. :</label>
            </td>
            <td colspan="3">
                \{{cllist.clcontactno}}

            </td>

            <td width="100px">
                <label style="vertical-align: top;">Email :</label>
            </td>
            <td colspan="3">
                \{{cllist.clemail}}

            </td>
        </tr>
    </table>


    <div class="row">

        <p style="font-size: small; background-color:rgb(25, 68, 2);color:floralwhite">current contract</p>
        <table style="font-size:9pt" border="1" style="height:10px">
            <tr>
                <td colspan="4">

                </td>
            </tr>
            <tr>
                <td>
                    <label>Services proposed </label>
                </td>
            </tr>
            <tr ng-repeat="pestitm in pestype track by $index">
                <td>{{!--  height="20px"> --}}
                    <p style="background-color: blanchedalmond;"><b>\{{pestype[$index].pestcd}} -
                            \{{pestype[$index].pestdesc}}</b></p>
                    <p>
                    <ul>
                        <li ng-if="solitm.solpestcd == pestitm.pestcd"
                            ng-repeat="solitm in solutionarr track by $index">

                            <span style="background-color: darkseagreen;" ng-bind-html='solitm.soldesc'
                                style="margin-top:0px;  margin-bottom : 0px"></span>
                        </li>

                    </ul>
                </td>
            </tr>
        </table>

        <div ng-controller="getSrc">

            <p style="font-size: small; background-color:rgb(25, 68, 2);color:floralwhite">Schedules and report</p>


            <table align="left" border="1" style="font-size: 10px;">

                <tr ng-repeat="schdet in cllist.projdet ">
                    {{!-- <td>
                        <label>Date Start:* :</label>
                    </td> --}}
                    <td>
                        <button class="text-nowrap" ng-click="getschframe(schdet._id)" target="schframe">
                            {{!--                                 <u>{{schlst.schdate | date: 'dd MMM yyyy'}}</u> --}}
                            <u><span ng-bind="schdet.schdatest | date: 'dd MMM yyyy' "></span> </u>
                        </button>

                    </td>

                </tr>
            </table>
            <table border="1" style="font-size: 10px;width:30%">
                <tr>
                    <td>
                        <iframe id="schframe" name="schframe" ng-model="schframe"
                            style="background-color:transparent; width:500px; height:300px; margin-top:0px; margin-left:0px"
                            frameborder="1" ng-src="\{{trustSrc(schdethtml.src)}}">
                            Your browser does not support inline frames or is currently configured
                            not to display inline frames.

                        </iframe>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div> {{!-- end of main div --}}